# Clase 4 
## Manejo de DataFrames

In [2]:
import pandas as pd
import os

In [3]:
os.chdir("C://Users//Diego//Desktop//Data Analitica//Proyecto final//bases de datos")

In [7]:
df = pd.read_csv("data.csv")

In [11]:
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,02-05-2014 0:00,313000.0,3.0,1.50,1340.0,7912.0,1.5,0.0,0.0,3.0,1340.0,0.0,1955.0,2005.0,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,02-05-2014 0:00,2384000.0,5.0,2.50,3650.0,9050.0,2.0,0.0,4.0,5.0,3370.0,280.0,1921.0,0.0,709 W Blaine St,Seattle,WA 98119,USA
2,02-05-2014 0:00,342000.0,3.0,2.00,1930.0,11947.0,1.0,0.0,0.0,4.0,1930.0,0.0,1966.0,0.0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,02-05-2014 0:00,420000.0,3.0,2.25,2000.0,8030.0,1.0,0.0,0.0,4.0,1000.0,1000.0,1963.0,0.0,857 170th Pl NE,Bellevue,WA 98008,USA
4,02-05-2014 0:00,550000.0,4.0,2.50,1940.0,10500.0,1.0,0.0,0.0,4.0,1140.0,800.0,1976.0,1992.0,9105 170th Ave NE,Redmond,WA 98052,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,09-07-2014 0:00,308.166.666.667,3.0,1.75,1510.0,6360.0,1.0,0.0,0.0,4.0,1510.0,0.0,1954.0,1979.0,501 N 143rd St,Seattle,WA 98133,USA
4596,09-07-2014 0:00,534.333.333.333,3.0,2.50,1460.0,7573.0,2.0,0.0,0.0,3.0,1460.0,0.0,1983.0,2009.0,14855 SE 10th Pl,Bellevue,WA 98007,USA
4597,09-07-2014 0:00,416.904.166.667,3.0,2.50,3010.0,7014.0,2.0,0.0,0.0,3.0,3010.0,0.0,2009.0,0.0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4598,10-07-2014 0:00,203400.0,4.0,2.00,2090.0,6630.0,1.0,0.0,0.0,3.0,1070.0,1020.0,1974.0,0.0,5148 S Creston St,Seattle,WA 98178,USA
4599,10-07-2014 0:00,220600.0,3.0,2.50,1490.0,8102.0,2.0,0.0,0.0,4.0,1490.0,0.0,1990.0,0.0,18717 SE 258th St,Covington,WA 98042,USA

In [17]:
df.columns

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country'],
      dtype='object')

## Set Data Types

In [10]:
df.isna().sum()

date              0
price             0
bedrooms          0
bathrooms         0
sqft_living       6
sqft_lot          6
floors            6
waterfront        5
view              5
condition         5
sqft_above       18
sqft_basement     5
yr_built          1
yr_renovated      1
street            1
city              0
statezip          0
country           0
dtype: int64

In [15]:
# Date 
df["date"]= pd.to_datetime(df["date"])

0      2014-02-05
1      2014-02-05
2      2014-02-05
3      2014-02-05
4      2014-02-05
          ...
4595   2014-09-07
4596   2014-09-07
4597   2014-09-07
4598   2014-10-07
4599   2014-10-07
Name: date, Length: 4600, dtype: datetime64[ns]

In [26]:
#variables numericas
no_numeric= ['date','street', 'city','statezip', 'country'] 
df_numeric= df.loc[:,df.columns.difference(no_numeric)]

for col_name,col in df_numeric.items():
    df[col_name]=pd.to_numeric(col,errors="coerce")

In [27]:
#variables no numericas
df["street"]=df["street"].astype(str)
df["city"]=df["city"].astype(str)
df["statezip"]=df["statezip"].astype(str)
df["country"]=df["country"].astype(str)

In [30]:
#Crear nuevas columnas
df["bathroomsXbedrooms"] = df["bedrooms"]*df["bathrooms"]

## Borrar Columna

In [33]:
df.pop("waterfront")

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4595    0.0
4596    0.0
4597    0.0
4598    0.0
4599    0.0
Name: waterfront, Length: 4600, dtype: float64

## Tratamiento de datos nulos

In [35]:
 df.dropna()
    
#df= df.dropna()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country,bathroomsXbedrooms
0,2014-02-05,313000.0,3.0,1.50,1340.0,7912.0,1.5,0.0,3.0,1340.0,0.0,1955.0,2005.0,18810 Densmore Ave N,Shoreline,WA 98133,USA,4.50
1,2014-02-05,2384000.0,5.0,2.50,3650.0,9050.0,2.0,4.0,5.0,3370.0,280.0,1921.0,0.0,709 W Blaine St,Seattle,WA 98119,USA,12.50
2,2014-02-05,342000.0,3.0,2.00,1930.0,11947.0,1.0,0.0,4.0,1930.0,0.0,1966.0,0.0,26206-26214 143rd Ave SE,Kent,WA 98042,USA,6.00
3,2014-02-05,420000.0,3.0,2.25,2000.0,8030.0,1.0,0.0,4.0,1000.0,1000.0,1963.0,0.0,857 170th Pl NE,Bellevue,WA 98008,USA,6.75
4,2014-02-05,550000.0,4.0,2.50,1940.0,10500.0,1.0,0.0,4.0,1140.0,800.0,1976.0,1992.0,9105 170th Ave NE,Redmond,WA 98052,USA,10.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4588,2014-08-07,0.0,4.0,2.25,2890.0,18226.0,3.0,4.0,3.0,2890.0,0.0,1984.0,0.0,3227-3399 Mountain View Ave N,Renton,WA 98056,USA,9.00
4589,2014-08-07,182805.0,3.0,1.00,1040.0,8892.0,1.0,0.0,4.0,800.0,240.0,1958.0,1972.0,1028 SW 307th St,Federal Way,WA 98023,USA,3.00
4592,2014-08-07,252980.0,4.0,2.50,2530.0,8169.0,2.0,0.0,3.0,2530.0,0.0,1993.0,0.0,37654 18th Pl S,Federal Way,WA 98003,USA,10.00
4598,2014-10-07,203400.0,4.0,2.00,2090.0,6630.0,1.0,0.0,3.0,1070.0,1020.0,1974.0,0.0,5148 S Creston St,Seattle,WA 98178,USA,8.00
4599,2014-10-07,220600.0,3.0,2.50,1490.0,8102.0,2.0,0.0,4.0,1490.0,0.0,1990.0,0.0,18717 SE 258th St,Covington,WA 98042,USA,7.50

In [36]:
df.fillna(df.mean(numeric_only=True))

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country,bathroomsXbedrooms
0,2014-02-05,3.130000e+05,3.0,1.50,1340.0,7912.0,1.5,0.0,3.0,1340.0,0.0,1955.0,2005.0,18810 Densmore Ave N,Shoreline,WA 98133,USA,4.50
1,2014-02-05,2.384000e+06,5.0,2.50,3650.0,9050.0,2.0,4.0,5.0,3370.0,280.0,1921.0,0.0,709 W Blaine St,Seattle,WA 98119,USA,12.50
2,2014-02-05,3.420000e+05,3.0,2.00,1930.0,11947.0,1.0,0.0,4.0,1930.0,0.0,1966.0,0.0,26206-26214 143rd Ave SE,Kent,WA 98042,USA,6.00
3,2014-02-05,4.200000e+05,3.0,2.25,2000.0,8030.0,1.0,0.0,4.0,1000.0,1000.0,1963.0,0.0,857 170th Pl NE,Bellevue,WA 98008,USA,6.75
4,2014-02-05,5.500000e+05,4.0,2.50,1940.0,10500.0,1.0,0.0,4.0,1140.0,800.0,1976.0,1992.0,9105 170th Ave NE,Redmond,WA 98052,USA,10.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,2014-09-07,5.547069e+05,3.0,1.75,1510.0,6360.0,1.0,0.0,4.0,1510.0,0.0,1954.0,1979.0,501 N 143rd St,Seattle,WA 98133,USA,5.25
4596,2014-09-07,5.547069e+05,3.0,2.50,1460.0,7573.0,2.0,0.0,3.0,1460.0,0.0,1983.0,2009.0,14855 SE 10th Pl,Bellevue,WA 98007,USA,7.50
4597,2014-09-07,5.547069e+05,3.0,2.50,3010.0,7014.0,2.0,0.0,3.0,3010.0,0.0,2009.0,0.0,759 Ilwaco Pl NE,Renton,WA 98059,USA,7.50
4598,2014-10-07,2.034000e+05,4.0,2.00,2090.0,6630.0,1.0,0.0,3.0,1070.0,1020.0,1974.0,0.0,5148 S Creston St,Seattle,WA 98178,USA,8.00
4599,2014-10-07,2.206000e+05,3.0,2.50,1490.0,8102.0,2.0,0.0,4.0,1490.0,0.0,1990.0,0.0,18717 SE 258th St,Covington,WA 98042,USA,7.50

In [37]:
df.fillna(0)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country,bathroomsXbedrooms
0,2014-02-05,313000.0,3.0,1.50,1340.0,7912.0,1.5,0.0,3.0,1340.0,0.0,1955.0,2005.0,18810 Densmore Ave N,Shoreline,WA 98133,USA,4.50
1,2014-02-05,2384000.0,5.0,2.50,3650.0,9050.0,2.0,4.0,5.0,3370.0,280.0,1921.0,0.0,709 W Blaine St,Seattle,WA 98119,USA,12.50
2,2014-02-05,342000.0,3.0,2.00,1930.0,11947.0,1.0,0.0,4.0,1930.0,0.0,1966.0,0.0,26206-26214 143rd Ave SE,Kent,WA 98042,USA,6.00
3,2014-02-05,420000.0,3.0,2.25,2000.0,8030.0,1.0,0.0,4.0,1000.0,1000.0,1963.0,0.0,857 170th Pl NE,Bellevue,WA 98008,USA,6.75
4,2014-02-05,550000.0,4.0,2.50,1940.0,10500.0,1.0,0.0,4.0,1140.0,800.0,1976.0,1992.0,9105 170th Ave NE,Redmond,WA 98052,USA,10.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,2014-09-07,0.0,3.0,1.75,1510.0,6360.0,1.0,0.0,4.0,1510.0,0.0,1954.0,1979.0,501 N 143rd St,Seattle,WA 98133,USA,5.25
4596,2014-09-07,0.0,3.0,2.50,1460.0,7573.0,2.0,0.0,3.0,1460.0,0.0,1983.0,2009.0,14855 SE 10th Pl,Bellevue,WA 98007,USA,7.50
4597,2014-09-07,0.0,3.0,2.50,3010.0,7014.0,2.0,0.0,3.0,3010.0,0.0,2009.0,0.0,759 Ilwaco Pl NE,Renton,WA 98059,USA,7.50
4598,2014-10-07,203400.0,4.0,2.00,2090.0,6630.0,1.0,0.0,3.0,1070.0,1020.0,1974.0,0.0,5148 S Creston St,Seattle,WA 98178,USA,8.00
4599,2014-10-07,220600.0,3.0,2.50,1490.0,8102.0,2.0,0.0,4.0,1490.0,0.0,1990.0,0.0,18717 SE 258th St,Covington,WA 98042,USA,7.50

In [39]:
df.fillna(df.mean(numeric_only=True)["price":"yr_renovated"])

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country,bathroomsXbedrooms
0,2014-02-05,3.130000e+05,3.0,1.50,1340.0,7912.0,1.5,0.0,3.0,1340.0,0.0,1955.0,2005.0,18810 Densmore Ave N,Shoreline,WA 98133,USA,4.50
1,2014-02-05,2.384000e+06,5.0,2.50,3650.0,9050.0,2.0,4.0,5.0,3370.0,280.0,1921.0,0.0,709 W Blaine St,Seattle,WA 98119,USA,12.50
2,2014-02-05,3.420000e+05,3.0,2.00,1930.0,11947.0,1.0,0.0,4.0,1930.0,0.0,1966.0,0.0,26206-26214 143rd Ave SE,Kent,WA 98042,USA,6.00
3,2014-02-05,4.200000e+05,3.0,2.25,2000.0,8030.0,1.0,0.0,4.0,1000.0,1000.0,1963.0,0.0,857 170th Pl NE,Bellevue,WA 98008,USA,6.75
4,2014-02-05,5.500000e+05,4.0,2.50,1940.0,10500.0,1.0,0.0,4.0,1140.0,800.0,1976.0,1992.0,9105 170th Ave NE,Redmond,WA 98052,USA,10.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,2014-09-07,5.547069e+05,3.0,1.75,1510.0,6360.0,1.0,0.0,4.0,1510.0,0.0,1954.0,1979.0,501 N 143rd St,Seattle,WA 98133,USA,5.25
4596,2014-09-07,5.547069e+05,3.0,2.50,1460.0,7573.0,2.0,0.0,3.0,1460.0,0.0,1983.0,2009.0,14855 SE 10th Pl,Bellevue,WA 98007,USA,7.50
4597,2014-09-07,5.547069e+05,3.0,2.50,3010.0,7014.0,2.0,0.0,3.0,3010.0,0.0,2009.0,0.0,759 Ilwaco Pl NE,Renton,WA 98059,USA,7.50
4598,2014-10-07,2.034000e+05,4.0,2.00,2090.0,6630.0,1.0,0.0,3.0,1070.0,1020.0,1974.0,0.0,5148 S Creston St,Seattle,WA 98178,USA,8.00
4599,2014-10-07,2.206000e+05,3.0,2.50,1490.0,8102.0,2.0,0.0,4.0,1490.0,0.0,1990.0,0.0,18717 SE 258th St,Covington,WA 98042,USA,7.50

## Conexion a MYSQL

In [40]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.31-cp39-cp39-win_amd64.whl (7.9 MB)
     ---------------------------------------- 7.9/7.9 MB 19.3 MB/s eta 0:00:00
Collecting protobuf<=3.20.1,>=3.11.0
  Downloading protobuf-3.20.1-cp39-cp39-win_amd64.whl (904 kB)
     ------------------------------------- 904.1/904.1 kB 55.9 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.31 protobuf-3.20.1

In [43]:
 

cnx= mysql.connector.connect(
    host="localhost",
    user= "root",
    password="Diego0l22",
    database= "football_db"
)

#Cursor
cursor= cnx.cursor()

query = """select leagues_leagueID,sum(goals),avg(goals),avg(time)
        from football_db.appearances where time > 20 
        group by leagues_leagueID;"""


cursor.execute(query)

results= cursor.fetchall()
data= pd.DataFrame(results,columns= ["leagues_leagueID", "sum(goals)", "avg(goals)", "avg(time)"])

cnx.close()

In [44]:
data

   leagues_leagueID sum(goals) avg(goals) avg(time)
0                 1       6678     0.1052   81.4020
1                 2       6939     0.1063   78.9054
2                 3       5851     0.1121   79.6054
3                 4       6554     0.1001   78.7145
4                 5       6082     0.0983   79.9960